<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<nav class="navbar" th:fragment="navigation-bar">
    <div class="nav-container">
        <a href="/all" class="nav-logo">
            <span class="logo-hm">HM</span>
            <span class="logo-rp">Real estate</span>
        </a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/all" class="nav-link">Properties</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            <th:block th:if="${session.sessionToken == null}">
                <li class="nav-item"><a href="/auth/login" class="nav-link nav-link-signin">Впиши се</a></li>
            </th:block>
            <th:block th:if="${session.sessionToken != null}">
                <li class="nav-item"><a href="/auth/logout" class="nav-link nav-link-signin">Излез</a></li>

            </th:block>
        </ul>
    </div>
</nav>

</body>
</html>